body {
  font-family: "Karla", sans-serif;
  color: #333333;
  background-color: #d5dcf9;
  font-size: 11pt;
}
h1,
h2,
h3 {
  color: #8edce6;
}
p {
  color: #443627;
}
.div-main {
  background-color: white;
  width: 99%;
  margin-top: 40px;
  padding: 3pt;
}
h1.header-name {
  font-family: "Pacifico", cursive;
  font-size: 40px;
}
